* {
  padding: 0;
  margin: 0;
}

body {
  font-family: " Trebuchet MS ", " Lucida Sans Unicode ", " Lucida Grande ",
    " Lucida Sans ", Arial, sans-serif;
  background-color: #f2f2f2;
}

.wrapper {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.datetime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menu {
  display: grid;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.menu li {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid grey;
}

.country {
  display: inline-block;
  padding: 12px 0px;
  color: grey;
  text-decoration: none;
  font-weight: 500;
}


.currentlyActive {
    color: #333333;
  }

.menu li a:hover {
  color: lightblue;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #333333;
  border: none;
  transition: all 0.3s ease-in-out;
}

p{
  display: inline;
  text-transform: capitalize;
}